!!! 5
%html
  %head
    %title Angular Rails App
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = favicon_link_tag 'touch-icon.png', rel: 'apple-touch-icon', type: 'image/png'
    = csrf_meta_tags

    %body{'ng-app' => 'myApp'}
      = yield

